.wall-block {
    width: 2vw;
    height: 2vw;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

}

.wall-stone {
    width: 0.95vw;
    height: 0.445vw;
    margin: 0vw 0.025vw 0vw 0.025vw;
    background-color: red;
}

.wall-stone-half {
    width: 0.475vw;
    height: 0.445vw;
    background-color: red;
}