.way {
    width: 4rem;
    height: 4rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

    &-block.feed > div {
        background-color: darkmagenta;
        width: 0.5rem;
        height: 0.5rem;
        border-radius:0.2rem;
    }

    &-block.tablet > div {
        background-color: cornflowerblue;
        width: 1.5rem;
        height: 1.5rem;
        border-radius:100%;
    }

    &-block.empty > div {
        background-color: transparent;
    }
}

