html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
}

@media (min-width: 1024px) {
  html, body {
    font-size: 10px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  html, body {
    font-size: 7px;
  }
}

@media (max-width: 767px) {
  html, body {
    font-size: 5px;
  }
}
